{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:nrepl
           {:extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}
                         cider/cider-nrepl {:mvn/version "0.45.0"}}}}}
